<!DOCTYPE html>
<html>
<head>
    <title>Tude Events</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/favicon.png" type="image/png" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="./style/gtheme.css">
    <link rel="stylesheet" type="text/css" href="./style/gheader.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <gheader theme="light" :hide="scrolled"></gheader>

        <div id="content">
            <div id="header">
                <img src="assets/events_logo.svg">
                <box id="infobox" click="app.panel='schedule'" strong3d>
                    <h1>Next up:</h1>
                    <h2>"Storytime"</h2>
                    <h3>4th September 2019</h3>
                </box>
            </div>
            <div id="ui">
                <div id="nav">
                    <a href="#" @click="panel='news'" :class="{active:panel=='news'}">News</a>
                    <a href="#" @click="panel='about'" :class="{active:panel=='about'}">About</a>
                    <a href="#" @click="panel='schedule'" :class="{active:panel=='schedule'}">Schedule</a>
                    <a href="#" @click="panel='register'" :class="{active:panel=='register'}">Participate</a>
                </div>
                <div id="tab">
                    <panel name="news">
                        <box>
                            <h1>Season 2</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem....
                                <a href="#">Read more</a>
                            </p>
                        </box>
                        <box>
                            <h1>Roadmap</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd....  
                                <a href="#">Read more</a>
                            </p>
                        </box>
                    </panel>
                    <panel name="about">
                        <h1>Tude Events, huh?</h1>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem....</p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd....  </p>
                    </panel>
                    <panel name="schedule">
                        <div v-for="w of scheduleDisp">
                            <h4 v-html="w.title" :class="{gray:!w.entries.length}"></h4>
                            <box v-if="w.entries.length" class="no3d" v-for="e of w.entries">
                                <h1 class="dense" v-html="e.time"></h1>
                                <h2 class="dense light" v-html="e.title"></h2>
                                <h3 v-html="e.desc"></h3>
                                <button onclick="">Take Part</button>
                            </box>
                            <box v-if="!w.entries.length" class="gray">
                                <h3>No events scheduled.</h3>
                            </box>
                        </div>
                        <p><br><a href="#" onclick="parseSchedule()">Load more</a></p>
                    </panel>
                    <panel name="register">
                        <h1>Participate</h1>
                        <p>Woopsie doopsie, this page is still wip, check back later!</p>
                    </panel>
                </div>
            </div>
        </div>
    </div>

    <template id="t-panel">
        <div v-if="this.$parent.panel==name" class="panel" :name="name">
            <slot></slot>
            <div id="footer">COPYRIGHT &copy; 2019 TUDE &bull; <a href="https://tude.ga/legal">LEGAL NOTICE</a> &bull; WEBSITE MADE BY <a href="https://maanex.tk/">MAANEX</a></div>
        </div>
    </template>

    <template id="t-box">
        <div class="box" :onclick="click?`eval(${click})`:''">
            <slot></slot>
        </div>
    </template>

    <script src="./lib/glib.js"></script>
    <script src="./lib/gheader.js"></script>
    <script src="script.js"></script>
</body>
</html>